$pink: #FFD7D7;
$red: #FD2D01;

$pagination-color:                  $red;
$pagination-bg:                     $pink;
$pagination-border-color:           $red;

$pagination-active-color:           $pink;
$pagination-active-bg:              $red;
$pagination-active-border-color:    $red;

$pagination-disabled-color:         $red;
$pagination-disabled-bg:            $pink;
$pagination-disabled-border-color:  $red;